body {
	background-color: #ffffff;
	color: #000000;
	font-family: tahoma,verdana,geneva,sans-serif;
}

dt {
	color: #008844;
}

th {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
}

td {
	text-align: left;
}

div#nav {
	display: inline;
}

p.navl {
	float: left;
	text-align: left;
}

p.navr {
	float: right;
	text-align: right;
}

code {
	font-size: 150%;
}

pre.code {
	background-color: #eeddee;
	border: 1px dotted black;
}

pre.output {
	background-color: #ddeeee;
	border: 1px dotted black;
}
