@model HvemLaverHvad.Models.OverviewModel
@{
    ViewBag.Title = "Hvem laver hvad?";
}
<p><br /></p>
<p>Der er ikke defineret et sprint.</p>
<script>
	setTimeout("location.reload(true);", 300000);
</script>
