<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Demo</title>
	<link href="/static/css/styles.css" rel="stylesheet" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>{{.PageTitle}}</h1>
    <ul>{{range .Todos}}{{if .Done}}
        <li class="done">{{.Title}}</li>{{else}}
        <li>{{.Title}}</li>{{end}}{{end}}
    </ul>
</body>
</html>
