[Desktop Entry]
Version=1.0
Name=Bitwarden
Comment=All my secrets
GenericName=Secrets
Keywords=Secrets;WWW;Web
Exec=/home/bs/Apps/Bitwarden.AppImage
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=bitwarden
Categories=GNOME;GTK;Network
StartupNotify=true
Actions=NewWindow;NewPrivateWindow;
